*~
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
protobuf/src/main/java/
src_managed/
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
*.pyc
log.txt
atlassian-ide-plugin.xml
.idea
